# Dependencies
node_modules/

# Build outputs
dist/
out/
release/
*.app
*.exe
*.dmg
*.deb
*.AppImage
*.rpm
*.msi
*.zip

# Environment files
.env
.env.*
!.env.*.example

# Logs
*.log
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Certificates and keys
*.p12
*.pfx
*.key
*.crt
*.pem

resources/python
resources/python_aarch64

*storybook.log
